* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	font-family: "Georgia";
	background: #DCDCDC;
}

.header {
	width: 50%;
	margin: 50px auto 0px;
	color: white;
	background: #FF0000;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content, .search {
	width:50%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
}

.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}

.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #4169E1;
	border: none;
	border-radius: 5px;
}

.error{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #A94442;
	color: #A94442;
	background: #F2DEDE;
	border-radius: 5px;
	text-align: left;
}

.success {
	color: #3C763D;
	background: #DFF0D8
	border: 1px solid #3C763D;
	margin-bottom: 20px;
}

.searchButton {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.searchButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.searchButton:active {
	position:relative;
	top:1px;
}

.searchTerm {
	padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);

}

.chatButton{
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	margin-left: 35%;
	margin-right:35%;

}
.chatButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.chatButton:active {
	position:relative;
	top:1px;
}

.prev {
	margin-left: 100px;
}
